.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .brand {
    font-weight: bold;
    color: #333;
  }

  .name {
    font-weight: bold;
    color:rgb(8, 10, 10);
    font-size: 20px;
  }
  